<a href="https://colab.research.google.com/github/Sadath43/Projet-Innovation-groupe-13/blob/main/code_Pr%C3%AAt_%C3%A0_investir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.8/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
train=pd.read_csv('train.csv')

**séléction des features**

In [5]:
train=train.drop(["ID","day","month","duration"],axis=1)

**traitement des Nan**

In [6]:
# il n'y a pas de nan (valeur manquante)
train.isna().sum()

age           0
job           0
marital       0
education     0
default       0
balance       0
housing       0
loan          0
contact       0
campaign      0
pdays         0
previous      0
poutcome      0
subscribed    0
dtype: int64

**Encodage**

In [7]:
# il faut seulement valeur numérique, donc il faut des transformations
ohe = OneHotEncoder(sparse = False)

train = pd.concat((train , pd.DataFrame(ohe.fit_transform(train["job"].to_frame()),columns = "job_" + np.sort(train["job"].unique()))),axis = 1)
train.drop(columns = ["job"],inplace = True)

train = pd.concat((train , pd.DataFrame(ohe.fit_transform(train["marital"].to_frame()),columns = "marital_" + np.sort(train["marital"].unique()))),axis = 1)
train.drop(columns = ["marital"],inplace = True)

In [8]:
#education
train.loc[(train.education == "tertiary"),"education"] =3
train.loc[(train.education == "secondary") ,"education"] =2
train.loc[(train.education == "primary"),"education"] =1
train.loc[(train.education == "unknown"),"education"] =0
#Default 
train.loc[(train.default == "yes"),"default"] = 1
train.loc[(train.default == "no") ,"default"] = 0

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                31647 non-null  int64
 1   education          31647 non-null  object
 2   default            31647 non-null  object
 3   balance            31647 non-null  int64
 4   housing            31647 non-null  object
 5   loan               31647 non-null  object
 6   contact            31647 non-null  object
 7   campaign           31647 non-null  int64
 8   pdays              31647 non-null  int64
 9   previous           31647 non-null  int64
 10  poutcome           31647 non-null  object
 11  subscribed         31647 non-null  object
 12  job_admin.         31647 non-null  float64
 13  job_blue-collar    31647 non-null  float64
 14  job_entrepreneur   31647 non-null  float64
 15  job_housemaid      31647 non-null  float64
 16  job_management     31647 non-null  float64
 17  job_retired        31647 non-null  float64
 18  job_self-employed  31647 non-null  float64
 19  job_services       31647 non-null  float64
 20  job_student        31647 non-null  float64
 21  job_technician     31647 non-null  float64
 22  job_unemployed     31647 non-null  float64
 23  job_unknown        31647 non-null  float64
 24  marital_divorced   31647 non-null  float64
 25  marital_married    31647 non-null  float64
 26  marital_single     31647 non-null  float64
dtypes: float64(15), int64(5), object(7)
memory usage: 6.5+ MB

In [10]:
# housing
train.loc[(train.housing == "yes"),"housing"] = 1 
train.loc[(train.housing == "no") ,"housing"] = 0
#Loan 
train.loc[(train.loan == "yes"),"loan"] = 1
train.loc[(train.loan == "no") ,"loan"] = 0
#contact
train.loc[(train.contact == "telephone"),"contact"] = 2
train.loc[(train.contact == "cellular") ,"contact"] = 1
train.loc[(train.contact == "unknown") ,"contact"] = 0

In [11]:
#poutcome
train = pd.concat((train , pd.DataFrame(ohe.fit_transform(train["poutcome"].to_frame()),columns = "poutcome_" + np.sort(train["poutcome"].unique()))),axis = 1)
train.drop(columns = ["poutcome"],inplace = True)
#subscribed
train.loc[(train.subscribed == "yes"),"subscribed"] = 1 
train.loc[(train.subscribed == "no") ,"subscribed"] = 0

transformation en valeur **numérique**

In [12]:
#vérification
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                31647 non-null  int64
 1   education          31647 non-null  object
 2   default            31647 non-null  object
 3   balance            31647 non-null  int64
 4   housing            31647 non-null  object
 5   loan               31647 non-null  object
 6   contact            31647 non-null  object
 7   campaign           31647 non-null  int64
 8   pdays              31647 non-null  int64
 9   previous           31647 non-null  int64
 10  subscribed         31647 non-null  object
 11  job_admin.         31647 non-null  float64
 12  job_blue-collar    31647 non-null  float64
 13  job_entrepreneur   31647 non-null  float64
 14  job_housemaid      31647 non-null  float64
 15  job_management     31647 non-null  float64
 16  job_retired        31647 non-null  float64
 17  job_self-employed  31647 non-null  float64
 18  job_services       31647 non-null  float64
 19  job_student        31647 non-null  float64
 20  job_technician     31647 non-null  float64
 21  job_unemployed     31647 non-null  float64
 22  job_unknown        31647 non-null  float64
 23  marital_divorced   31647 non-null  float64
 24  marital_married    31647 non-null  float64
 25  marital_single     31647 non-null  float64
 26  poutcome_failure   31647 non-null  float64
 27  poutcome_other     31647 non-null  float64
 28  poutcome_success   31647 non-null  float64
 29  poutcome_unknown   31647 non-null  float64
dtypes: float64(19), int64(5), object(6)
memory usage: 7.2+ MB

In [15]:
# transformation
train.education = train.education.astype(int)
train.default = train.default.astype(int)
train.housing = train.housing.astype(int)
train.loan = train.loan.astype(int)
train.contact = train.contact.astype(int)
train.subscribed = train.subscribed.astype(int)

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                31647 non-null  int64
 1   education          31647 non-null  int64
 2   default            31647 non-null  int64
 3   balance            31647 non-null  int64
 4   housing            31647 non-null  int64
 5   loan               31647 non-null  int64
 6   contact            31647 non-null  int64
 7   campaign           31647 non-null  int64
 8   pdays              31647 non-null  int64
 9   previous           31647 non-null  int64
 10  subscribed         31647 non-null  int64
 11  job_admin.         31647 non-null  float64
 12  job_blue-collar    31647 non-null  float64
 13  job_entrepreneur   31647 non-null  float64
 14  job_housemaid      31647 non-null  float64
 15  job_management     31647 non-null  float64
 16  job_retired        31647 non-null  float64
 17  job_self-employed  31647 non-null  float64
 18  job_services       31647 non-null  float64
 19  job_student        31647 non-null  float64
 20  job_technician     31647 non-null  float64
 21  job_unemployed     31647 non-null  float64
 22  job_unknown        31647 non-null  float64
 23  marital_divorced   31647 non-null  float64
 24  marital_married    31647 non-null  float64
 25  marital_single     31647 non-null  float64
 26  poutcome_failure   31647 non-null  float64
 27  poutcome_other     31647 non-null  float64
 28  poutcome_success   31647 non-null  float64
 29  poutcome_unknown   31647 non-null  float64
dtypes: float64(19), int64(11)
memory usage: 7.2 MB

**partage du Data_set**

In [17]:
sm = SMOTE()
y = train["subscribed"]
X = train.drop(columns=["subscribed"])
y.value_counts()

0    27932
1     3715
Name: subscribed, dtype: int64

In [18]:
X, y = sm.fit_resample(X, y)
X_train , X_test , y_train , y_test = train_test_split(X,y, test_size = 0.2,random_state = 10)
y.value_counts()

0    27932
1    27932
Name: subscribed, dtype: int64

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55864 entries, 0 to 55863
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                55864 non-null  int64
 1   education          55864 non-null  int64
 2   default            55864 non-null  int64
 3   balance            55864 non-null  int64
 4   housing            55864 non-null  int64
 5   loan               55864 non-null  int64
 6   contact            55864 non-null  int64
 7   campaign           55864 non-null  int64
 8   pdays              55864 non-null  int64
 9   previous           55864 non-null  int64
 10  job_admin.         55864 non-null  float64
 11  job_blue-collar    55864 non-null  float64
 12  job_entrepreneur   55864 non-null  float64
 13  job_housemaid      55864 non-null  float64
 14  job_management     55864 non-null  float64
 15  job_retired        55864 non-null  float64
 16  job_self-employed  55864 non-null  float64
 17  job_services       55864 non-null  float64
 18  job_student        55864 non-null  float64
 19  job_technician     55864 non-null  float64
 20  job_unemployed     55864 non-null  float64
 21  job_unknown        55864 non-null  float64
 22  marital_divorced   55864 non-null  float64
 23  marital_married    55864 non-null  float64
 24  marital_single     55864 non-null  float64
 25  poutcome_failure   55864 non-null  float64
 26  poutcome_other     55864 non-null  float64
 27  poutcome_success   55864 non-null  float64
 28  poutcome_unknown   55864 non-null  float64
dtypes: float64(19), int64(10)
memory usage: 12.4 MB

**Entrainement**

1-KNN : KNeighborsClassifier

In [20]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
matrice_f_knn = confusion_matrix(y_test, y_pred_knn)
performance_knn = accuracy_score(y_test, y_pred_knn)

2-reggression logistique

In [21]:
lr = LogisticRegression()
lr.fit(X_train,y_train)
y_pred_lr = lr.predict(X_test)
matrice_f_lr = confusion_matrix(y_test, y_pred_lr)
performance_lr = accuracy_score(y_test, y_pred_lr)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

3-arbre de décision

In [22]:
dtc = DecisionTreeClassifier(max_depth=3)
dtc.fit(X_train, y_train)
y_pred_dtc = dtc.predict(X_test)
matrice_f_dtc = confusion_matrix(y_test, y_pred_dtc)
performance_dtc = accuracy_score(y_test, y_pred_dtc)

4-classificateur random forest

In [23]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
matrice_f_rf = confusion_matrix(y_test,y_pred_rf)
performance_rf = accuracy_score(y_test,y_pred_rf)

**Comparaison des performances**

In [24]:
#1-KNN : KNeighborsClassifier (K-Nearest Neighbor)
matrice_f_knn,performance_knn,precision_score(y_test,y_pred_knn),recall_score(y_test,y_pred_knn)

(array([[3752, 1853],
        [ 483, 5085]]),
 0.7909245502550792,
 0.7329201498991064,
 0.9132543103448276)

In [25]:
#2-reggression logistique
matrice_f_lr,performance_lr,precision_score(y_test,y_pred_lr),recall_score(y_test,y_pred_lr)

(array([[3843, 1762],
        [1237, 4331]]),
 0.731585071153674,
 0.7108156901362219,
 0.7778376436781609)

In [26]:
#3-arbre de décision
matrice_f_dtc,performance_dtc,precision_score(y_test,y_pred_dtc),recall_score(y_test,y_pred_dtc)

(array([[4632,  973],
        [1919, 3649]]),
 0.7411617291685313,
 0.7894850713976633,
 0.6553520114942529)

In [27]:
#4-classificateur random forest
matrice_f_rf,performance_rf,precision_score(y_test,y_pred_rf),recall_score(y_test,y_pred_rf)

(array([[5363,  242],
        [ 576, 4992]]),
 0.926787791998568,
 0.953763851738632,
 0.896551724137931)

**la fonction de prédiction**

In [28]:
def va_investir(model,nom='il',age=56,education=0,default=0,balance=1933,housing=0,loan=0,contact=2,campaign=2,pdays=-1,previous=0,job_admin=1,job_bluecollar=0,job_entrepreneur=0,job_housemaid=0,job_management=0,job_retired=0,job_selfemployed=0,job_services=0,job_student=0,job_technician=0,job_unemployed=0,job_unknown=0,marital_divorced=1,marital_married=0,marital_single=0,poutcome_failure=0,poutcome_other=0,poutcome_success=0,poutcome_unknown=1):
    x=np.array([age,education,default,balance,housing,loan,contact,campaign,pdays,previous,job_admin,job_bluecollar,job_entrepreneur,job_housemaid,job_management,job_retired,job_selfemployed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_divorced,marital_married,marital_single,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown]).reshape(1,29)
    predicted=model.predict(x)
    proba_oui=model.predict_proba(x)[0][1]*100
    proba_non=model.predict_proba(x)[0][0]*100
    if predicted[0]==1:
        print("il y a",proba_oui,"% de chance que",nom,"souhaite investir")
    else:print("il y a",proba_non,"% de chance que",nom,"ne souhaite pas investir")

In [29]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55864 entries, 0 to 55863
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                55864 non-null  int64
 1   education          55864 non-null  int64
 2   default            55864 non-null  int64
 3   balance            55864 non-null  int64
 4   housing            55864 non-null  int64
 5   loan               55864 non-null  int64
 6   contact            55864 non-null  int64
 7   campaign           55864 non-null  int64
 8   pdays              55864 non-null  int64
 9   previous           55864 non-null  int64
 10  job_admin.         55864 non-null  float64
 11  job_blue-collar    55864 non-null  float64
 12  job_entrepreneur   55864 non-null  float64
 13  job_housemaid      55864 non-null  float64
 14  job_management     55864 non-null  float64
 15  job_retired        55864 non-null  float64
 16  job_self-employed  55864 non-null  float64
 17  job_services       55864 non-null  float64
 18  job_student        55864 non-null  float64
 19  job_technician     55864 non-null  float64
 20  job_unemployed     55864 non-null  float64
 21  job_unknown        55864 non-null  float64
 22  marital_divorced   55864 non-null  float64
 23  marital_married    55864 non-null  float64
 24  marital_single     55864 non-null  float64
 25  poutcome_failure   55864 non-null  float64
 26  poutcome_other     55864 non-null  float64
 27  poutcome_success   55864 non-null  float64
 28  poutcome_unknown   55864 non-null  float64
dtypes: float64(19), int64(10)
memory usage: 12.4 MB

In [30]:
#va_investir(rf,'Joh',0 ,1,2, 3  ,4,5,6,7, 8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28)
va_investir(rf,'John',20,1,0,1933,0,0,2,2,-1,0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

il y a 89.0 % de chance que John ne souhaite pas investir

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(